#Lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do p {
  font-size: 16.51;
  font-family: 'Roboto-Light';
  color: rgb(83.99955, 83.99955, 83.99955, 1.0);
}
#Project-Title p {
  font-size: 33.24218;
  font-family: 'Roboto-Bold';
  color: rgb(21.99885, 21.99885, 21.99885, 1.0);
}
#a2018 p {
  font-size: 16.51;
  font-family: 'Roboto-Light';
  color: rgb(83.99955, 83.99955, 83.99955, 1.0);
}
#Project-Date p {
  font-size: 33.24218;
  font-family: 'Roboto-Bold';
  color: rgb(21.99885, 21.99885, 21.99885, 1.0);
}
#Lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do_1 p {
  font-size: 16.51;
  font-family: 'Roboto-Light';
  color: rgb(83.99955, 83.99955, 83.99955, 1.0);
}
#The-Challenge p {
  font-size: 33.24218;
  font-family: 'Roboto-Bold';
  color: rgb(21.99885, 21.99885, 21.99885, 1.0);
}
#Branding-Visual-Identity-Web-Design-Illustration p {
  font-size: 16.51;
  font-family: 'Roboto-Light';
  color: rgb(83.99955, 83.99955, 83.99955, 1.0);
}
#Project-Role_1 p {
  font-size: 33.24218;
  font-family: 'Roboto-Bold';
  color: rgb(21.99885, 21.99885, 21.99885, 1.0);
}
#Lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do_2 p {
  font-size: 16.51;
  font-family: 'Roboto-Light';
  color: rgb(83.99955, 83.99955, 83.99955, 1.0);
}
#Our-Approach_1 p {
  font-size: 33.24218;
  font-family: 'Roboto-Bold';
  color: rgb(21.99885, 21.99885, 21.99885, 1.0);
}
#BACK-TO-ALL-WORKS p {
  font-size: 15.24;
  font-family: 'Roboto-Regular';
  color: rgb(21.99885, 21.99885, 21.99885, 1.0);
}
#Home-Works-Logo-Collection-About---Contact-Blog p {
  font-size: 15.24;
  font-family: 'Roboto-Light';
  color: rgb(153.00255, 153.00255, 153.00255, 1.0);
}
#Twitter-Instagram-Pinterest-Dribbble-Linkedin p {
  font-size: 15.24;
  font-family: 'Roboto-Light';
  color: rgb(153.00255, 153.00255, 153.00255, 1.0);
}
#Get-in-Touch-hello-yoursite p {
  font-size: 15.24;
  font-family: 'Roboto-Light';
  color: rgb(21.99885, 21.99885, 21.99885, 1.0);
}
