.Background-copy-6 {
  background-color: rgb(7, 135, 212);
  width: 100%;
  height: 8px;
}
. {
  font-size: 18px;
  font-family: 'ElegantIcons';
  color: rgba(255, 255, 255, 1);
}
.join-now {
  font-size: 14px;
  font-family: 'Lato-Bold';
  color: rgba(187, 161, 177, 1);
}
.register {
  font-size: 14px;
  font-family: 'Lato-Bold';
  color: rgba(255, 255, 255, 1);
}
.Nav-background {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 103px;
}
.thefox {
  font-size: 49px;
  font-family: 'Lato-Regular';
  color: rgba(79, 44, 61, 1);
}
.Home---------------Page---------------Portfolio---------------B {
  font-size: 19px;
  font-family: 'Lato-Regular';
  color: rgba(155, 25, 187, 1);
}
.Rectangle-32 {
  background-color: rgb(26, 188, 156);
  width: 44px;
  height: 8px;
}
.Slider-Background-copy-2 {
  background-color: rgb(161, 177, 188);
  width: 100%;
  height: 903px;
}
.We-Are-Always-Working-Hard-To- {
  font-size: 26px;
  font-family: 'Lato-Regular';
  color: rgba(51, 33, 37, 1);
}
.Build-awesome-work {
  font-size: 50px;
  font-family: 'Lato-Black';
  color: rgba(39, 25, 27, 1);
}
.Fully-Responsive-Retina-Ready-Extremely-Customizable-WP-39--Re {
  font-size: 24px;
  font-family: 'Lato-Bold';
  color: rgba(39, 25, 27, 1);
}
.Rectangle-39 {
  background-color: rgb(26, 28, 39);
  width: 272px;
  height: 8px;
}
.Rectangle-39-copy {
  background-color: rgb(33, 194, 248);
  width: 103px;
  height: 8px;
}
.BUY-IT-NOW {
  font-size: 16px;
  font-family: 'Lato-Black';
  color: rgba(255, 255, 255, 1);
}
.Rectangle-4 {
  background-color: rgb(34, 37, 51);
  width: 100%;
  height: 53px;
}
.a4 {
  font-size: 24px;
  font-family: 'ElegantIcons';
  color: rgba(255, 255, 255, 1);
}
.Rectangle-4_1 {
  background-color: rgb(26, 28, 39);
  width: 100%;
  height: 53px;
}
.a4 {
  font-size: 24px;
  font-family: 'ElegantIcons';
  color: rgba(255, 255, 255, 1);
}
.Shape-238 {
  background-color: rgb(236, 238, 240);
  width: 5px;
  height: 46px;
}
. {
  font-size: 16px;
  font-family: 'FontAwesome';
  color: rgba(187, 161, 177, 1);
}
.Web-Design-Service {
  font-size: 15px;
  font-family: 'Lato-Bold';
  color: rgba(79, 44, 61, 1);
}
.Lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-Donec- {
  font-size: 14px;
  font-family: 'MyriadPro-Regular';
  color: rgba(187, 161, 177, 1);
}
.Rectangle-7 {
  background-color: rgb(255, 255, 255);
  width: 102px;
  height: 103px;
}
.Shape-238_1 {
  background-color: rgb(236, 238, 240);
  width: 5px;
  height: 46px;
}
. {
  font-size: 16px;
  font-family: 'FontAwesome';
  color: rgba(187, 161, 177, 1);
}
.Creative-Service {
  font-size: 15px;
  font-family: 'Lato-Bold';
  color: rgba(79, 44, 61, 1);
}
.Shape-238_2 {
  background-color: rgb(236, 238, 240);
  width: 5px;
  height: 46px;
}
._1 {
  font-size: 16px;
  font-family: 'FontAwesome';
  color: rgba(187, 161, 177, 1);
}
.SEO-Solutions-Service {
  font-size: 15px;
  font-family: 'Lato-Bold';
  color: rgba(79, 44, 61, 1);
}
.Shape-238_3 {
  background-color: rgb(236, 238, 240);
  width: 5px;
  height: 46px;
}
._2 {
  font-size: 16px;
  font-family: 'FontAwesome';
  color: rgba(187, 161, 177, 1);
}
.Graphic-Design-Service {
  font-size: 15px;
  font-family: 'Lato-Bold';
  color: rgba(79, 44, 61, 1);
}
.Hello- {
  font-size: 36px;
  font-family: 'Lato-Light';
  color: rgba(79, 44, 61, 1);
}
.Welcome-to-ThemeForest--Read-our-Getting-Started-Guide-visit-t {
  font-size: 14px;
  font-family: 'Lato-Regular';
  color: rgba(187, 161, 177, 1);
}
.WordPress-Drag---Drop-Page-Themes {
  font-size: 15px;
  font-family: 'Lato-Bold';
  color: rgba(79, 44, 61, 1);
}
.Lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-Duis-s {
  font-size: 14px;
  font-family: 'Lato-Regular';
  color: rgba(187, 161, 177, 1);
}
.VIEW-DETAIL {
  font-size: 16px;
  font-family: 'Lato-Black';
  color: rgba(255, 255, 255, 1);
}
.Rectangle-33 {
  background-color: rgb(236, 240, 241);
  width: 100%;
  height: 778px;
}
.Amazing-Works {
  font-size: 36px;
  font-family: 'Lato-Light';
  color: rgba(79, 44, 61, 1);
}
.Your-image-here {
  background-color: rgb(161, 177, 188);
  width: 100%;
  height: 203px;
}
.Rectangle-34-copy {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 53px;
}
.Awesome-Work-Title-Here {
  font-size: 14px;
  font-family: 'Lato-Bold';
  color: rgba(79, 44, 61, 1);
}
. {
  font-size: 16px;
  font-family: 'ElegantIcons';
  color: rgba(187, 161, 177, 1);
}
.a34 {
  font-size: 16px;
  font-family: 'Lato-Regular';
  color: rgba(187, 161, 177, 1);
}
.Rectangle-34 {
  background-color: rgb(34, 37, 51);
  width: 100%;
  height: 203px;
}
.- {
  font-size: 100px;
  font-family: 'Lato-Hairline';
  color: rgba(255, 255, 255, 1);
}
.Rectangle-34-copy_1 {
  background-color: rgb(161, 177, 188);
  width: 100%;
  height: 53px;
}
.Awesome-Work-Title-Here_1 {
  font-size: 14px;
  font-family: 'Lato-Bold';
  color: rgba(255, 255, 255, 1);
}
._1 {
  font-size: 16px;
  font-family: 'ElegantIcons';
  color: rgba(255, 255, 255, 1);
}
.a646 {
  font-size: 16px;
  font-family: 'Lato-Regular';
  color: rgba(255, 255, 255, 1);
}
.Rectangle-34_1 {
  background-color: rgb(161, 177, 188);
  width: 100%;
  height: 203px;
}
.Rectangle-34-copy_2 {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 53px;
}
.Awesome-Work-Title-Here_2 {
  font-size: 14px;
  font-family: 'Lato-Bold';
  color: rgba(79, 44, 61, 1);
}
._2 {
  font-size: 16px;
  font-family: 'ElegantIcons';
  color: rgba(187, 161, 177, 1);
}
.a12 {
  font-size: 16px;
  font-family: 'Lato-Regular';
  color: rgba(187, 161, 177, 1);
}
.Rectangle-34_2 {
  background-color: rgb(161, 177, 188);
  width: 100%;
  height: 203px;
}
.Rectangle-34-copy_3 {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 53px;
}
.Awesome-Work-Title-Here_3 {
  font-size: 14px;
  font-family: 'Lato-Bold';
  color: rgba(79, 44, 61, 1);
}
._3 {
  font-size: 16px;
  font-family: 'ElegantIcons';
  color: rgba(187, 161, 177, 1);
}
.a76 {
  font-size: 16px;
  font-family: 'Lato-Regular';
  color: rgba(187, 161, 177, 1);
}
.Rectangle-34_3 {
  background-color: rgb(161, 177, 188);
  width: 100%;
  height: 203px;
}
.Rectangle-34-copy_4 {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 53px;
}
.Awesome-Work-Title-Here_4 {
  font-size: 14px;
  font-family: 'Lato-Bold';
  color: rgba(79, 44, 61, 1);
}
._4 {
  font-size: 16px;
  font-family: 'ElegantIcons';
  color: rgba(187, 161, 177, 1);
}
.a57 {
  font-size: 16px;
  font-family: 'Lato-Regular';
  color: rgba(187, 161, 177, 1);
}
.Rectangle-34_4 {
  background-color: rgb(161, 177, 188);
  width: 100%;
  height: 203px;
}
.Rectangle-34-copy_5 {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 53px;
}
.Awesome-Work-Title-Here_5 {
  font-size: 14px;
  font-family: 'Lato-Bold';
  color: rgba(79, 44, 61, 1);
}
._5 {
  font-size: 16px;
  font-family: 'ElegantIcons';
  color: rgba(187, 161, 177, 1);
}
.a02 {
  font-size: 16px;
  font-family: 'Lato-Regular';
  color: rgba(187, 161, 177, 1);
}
.Why-Work-With-Us {
  font-size: 36px;
  font-family: 'Lato-Light';
  color: rgba(79, 44, 61, 1);
}
.Lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-Aenean {
  font-size: 14px;
  font-family: 'Lato-Regular';
  color: rgba(187, 161, 177, 1);
}
.VIEW-DETAIL_1 {
  font-size: 16px;
  font-family: 'Lato-Black';
  color: rgba(255, 255, 255, 1);
}
.Rectangle-35 {
  background-color: rgb(32, 202, 168);
  width: 386px;
  height: 203px;
}
.a283940-PURCHASES {
  font-size: 30px;
  font-family: 'Lato-Light';
  color: rgba(255, 255, 255, 1);
}
.Rectangle-35-copy {
  background-color: rgb(26, 213, 176);
  width: 388px;
  height: 203px;
}
.a345789-SUBSCRIBERS {
  font-size: 30px;
  font-family: 'Lato-Light';
  color: rgba(255, 255, 255, 1);
}
.Rectangle-35-copy-2 {
  background-color: rgb(32, 202, 168);
  width: 387px;
  height: 203px;
}
.a1273890-CUSTOMERS {
  font-size: 30px;
  font-family: 'Lato-Light';
  color: rgba(255, 255, 255, 1);
}
.Rectangle-35-copy-3 {
  background-color: rgb(26, 211, 175);
  width: 386px;
  height: 203px;
}
.a3637-COMMENTS {
  font-size: 30px;
  font-family: 'Lato-Light';
  color: rgba(255, 255, 255, 1);
}
.Rectangle-35-copy-2_1 {
  background-color: rgb(44, 62, 80);
  width: 387px;
  height: 203px;
}
.a694--FEATURES-ADDED {
  font-size: 30px;
  font-family: 'Lato-Light';
  color: rgba(255, 255, 255, 1);
}
.What-Other-Say-About-TheFox {
  font-size: 36px;
  font-family: 'Lato-Light';
  color: rgba(79, 44, 61, 1);
}
.Shape-259 {
  background-color: rgb(215, 223, 225);
  width: 4px;
  height: 43px;
}
.Previous {
  font-size: 14px;
  font-family: 'Lato-Regular';
  color: rgba(79, 44, 61, 1);
}
.a4 {
  font-size: 16px;
  font-family: 'ElegantIcons';
  color: rgba(79, 44, 61, 1);
}
.Next {
  font-size: 14px;
  font-family: 'Lato-Bold';
  color: rgba(79, 44, 61, 1);
}
.a5 {
  font-size: 16px;
  font-family: 'ElegantIcons';
  color: rgba(79, 44, 61, 1);
}
.Sam-Isbister-Web-Designer {
  font-size: 18px;
  font-family: 'Lato-Bold';
  color: rgba(79, 44, 61, 1);
}
.Interdum-et-malesuada-fames-ac-ante-ipsum-primis-in-faucibus-P {
  font-size: 14px;
  font-family: 'Lato-Regular';
  color: rgba(187, 161, 177, 1);
}
.-_1 {
  font-size: 36px;
  font-family: 'Lato-Light';
  color: rgba(255, 255, 255, 1);
}
.John-Doe-Web-Designer {
  font-size: 18px;
  font-family: 'Lato-Bold';
  color: rgba(79, 44, 61, 1);
}
.Interdum-et-malesuada-fames-ac-ante-ipsum-primis-in-faucibus-P_1 {
  font-size: 14px;
  font-family: 'Lato-Regular';
  color: rgba(187, 161, 177, 1);
}
.Jane-Doe-Web-Designer {
  font-size: 18px;
  font-family: 'Lato-Bold';
  color: rgba(79, 44, 61, 1);
}
.Interdum-et-malesuada-fames-ac-ante-ipsum-primis-in-faucibus-P_2 {
  font-size: 14px;
  font-family: 'Lato-Regular';
  color: rgba(187, 161, 177, 1);
}
.Tran-Mau-Tri-Tam-Web-Designer {
  font-size: 18px;
  font-family: 'Lato-Bold';
  color: rgba(79, 44, 61, 1);
}
.Interdum-et-malesuada-fames-ac-ante-ipsum-primis-in-faucibus-P_3 {
  font-size: 14px;
  font-family: 'Lato-Regular';
  color: rgba(187, 161, 177, 1);
}
.Line {
  background-color: rgb(233, 233, 233);
  width: 100%;
  height: 4px;
}
.Line-copy {
  background-color: rgb(233, 233, 233);
  width: 100%;
  height: 4px;
}
.Your-map-here {
  background-color: rgb(161, 177, 188);
  width: 100%;
  height: 503px;
}
.-_2 {
  background-color: rgb(102, 102, 102);
  width: 13px;
  height: 6px;
}
.-_3 {
  background-color: rgb(102, 102, 102);
  width: 13px;
  height: 15px;
}
.Enter-your-location {
  font-size: 15px;
  font-family: 'Lato-Bold';
  color: rgba(187, 161, 177, 1);
}
.Thefox-Design {
  font-size: 13px;
  font-family: 'Lato-Bold';
  color: rgba(7, 133, 7, 1);
}
.Forme-15 {
  background-color: rgb(184, 61, 53);
  width: 5px;
  height: 8px;
}
.TheFox-Design {
  font-size: 36px;
  font-family: 'Lato-Light';
  color: rgba(79, 44, 61, 1);
}
.Lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-Cras-i {
  font-size: 14px;
  font-family: 'Lato-Regular';
  color: rgba(187, 161, 177, 1);
}
.Name-- {
  font-size: 14px;
  font-family: 'Lato-Regular';
  color: rgba(187, 161, 177, 1);
}
.Email-- {
  font-size: 14px;
  font-family: 'Lato-Regular';
  color: rgba(187, 161, 177, 1);
}
.Phone-number {
  font-size: 14px;
  font-family: 'Lato-Regular';
  color: rgba(187, 161, 177, 1);
}
.submit-now {
  font-size: 16px;
  font-family: 'Lato-Black';
  color: rgba(255, 255, 255, 1);
}
.your-image-here-copy {
  background-color: rgb(161, 177, 188);
  width: 100%;
  height: 282px;
}
.Standard-Blog-Title-Here-27-July-2014-------Category {
  font-size: 18px;
  font-family: 'Lato-Bold';
  color: rgba(255, 255, 255, 1);
}
.your-image-here-copy_1 {
  background-color: rgb(236, 240, 241);
  width: 100%;
  height: 282px;
}
.Standard-Blog-Title-Here-27-July-2014-------Category_1 {
  font-size: 18px;
  font-family: 'Lato-Bold';
  color: rgba(255, 255, 255, 1);
}
.your-image-here-copy_2 {
  background-color: rgb(120, 136, 148);
  width: 100%;
  height: 282px;
}
.Standard-Blog-Title-Here-27-July-2014-------Category_2 {
  font-size: 18px;
  font-family: 'Lato-Bold';
  color: rgba(185, 23, 225, 1);
}
.your-image-here-copy_3 {
  background-color: rgb(236, 240, 241);
  width: 100%;
  height: 282px;
}
.Standard-Blog-Title-Here-27-July-2014-------Category_3 {
  font-size: 18px;
  font-family: 'Lato-Bold';
  color: rgba(255, 255, 255, 1);
}
.your-image-here-copy_4 {
  background-color: rgb(161, 177, 188);
  width: 100%;
  height: 282px;
}
.Standard-Blog-Title-Here-27-July-2014-------Category_4 {
  font-size: 18px;
  font-family: 'Lato-Bold';
  color: rgba(255, 255, 255, 1);
}
.Your-image-here-copy-2 {
  background-color: rgb(52, 73, 94);
  width: 100%;
  height: 503px;
}
.Get-Stronger-For-Your-Work {
  font-size: 36px;
  font-family: 'Lato-Light';
  color: rgba(255, 255, 255, 1);
}
.TheFox-is-One-Of-The-Top-Themeforest’s--Selling-PSD-Theme-of-Al {
  font-size: 16px;
  font-family: 'Lato-Regular';
  color: rgba(255, 255, 255, 1);
}
.purchase-now {
  font-size: 16px;
  font-family: 'Lato-Black';
  color: rgba(255, 255, 255, 1);
}
.Rectangle-37 {
  background-color: rgb(26, 28, 39);
  width: 100%;
  height: 480px;
}
.Shape-260 {
  background-color: rgb(43, 46, 60);
  width: 100%;
  height: 4px;
}
.Shape-260-copy {
  background-color: rgb(43, 46, 60);
  width: 100%;
  height: 4px;
}
.thefox_1 {
  font-size: 65px;
  font-family: 'Lato-Regular';
  color: rgba(255, 255, 255, 1);
}
.Phasellus-et-nisl-tellus-Etiam-facilisis-eu-nisi-scelerisque-f {
  font-size: 14px;
  font-family: 'Lato-Regular';
  color: rgba(187, 161, 177, 1);
}
.Rectangle-16 {
  background-color: rgb(26, 188, 156);
  width: 8px;
  height: 21px;
}
.RECENT-POSTS {
  font-size: 18px;
  font-family: 'Lato-Black';
  color: rgba(255, 255, 255, 1);
}
.Blog-Slideshow-Post-Standard-Post-Video-Post-With-Quote-Post-Te {
  font-size: 14px;
  font-family: 'Lato-Regular';
  color: rgba(187, 161, 177, 1);
}
.a03-Jul-27-May-23-May-15-Apr-04-Mar {
  font-size: 12px;
  font-family: 'Lato-Regular';
  color: rgba(147, 119, 136, 1);
}
.Shape-261 {
  background-color: rgb(38, 40, 55);
  width: 100%;
  height: 4px;
}
.Shape-261-copy {
  background-color: rgb(38, 40, 55);
  width: 100%;
  height: 3px;
}
.Shape-261-copy-2 {
  background-color: rgb(38, 40, 55);
  width: 100%;
  height: 4px;
}
.Shape-261-copy-2_1 {
  background-color: rgb(38, 40, 55);
  width: 100%;
  height: 4px;
}
.Rectangle-16_1 {
  background-color: rgb(26, 188, 156);
  width: 8px;
  height: 21px;
}
.RECENT-TWEETS {
  font-size: 18px;
  font-family: 'Lato-Black';
  color: rgba(255, 255, 255, 1);
}
.Just-updated-my-new-site---samisbister--wjndheo-35-minutes-ago {
  font-size: 14px;
  font-family: 'Lato-Regular';
  color: rgba(187, 161, 177, 1);
}
. {
  font-size: 24px;
  font-family: 'ElegantIcons';
  color: rgba(187, 161, 177, 1);
}
.Hey-everybody--Adelfox-Update-WP-version-356-Core-Features-Add {
  font-size: 14px;
  font-family: 'Lato-Regular';
  color: rgba(187, 161, 177, 1);
}
._1 {
  font-size: 24px;
  font-family: 'ElegantIcons';
  color: rgba(187, 161, 177, 1);
}
.Shape-261_1 {
  background-color: rgb(38, 40, 55);
  width: 100%;
  height: 3px;
}
.Rectangle-16_2 {
  background-color: rgb(26, 188, 156);
  width: 8px;
  height: 21px;
}
.FEATURED-WORKS {
  font-size: 18px;
  font-family: 'Lato-Black';
  color: rgba(255, 255, 255, 1);
}
.Rectangle-38 {
  background-color: rgb(26, 188, 156);
  width: 88px;
  height: 88px;
}
.Rectangle-38-copy-2 {
  background-color: rgb(26, 188, 156);
  width: 88px;
  height: 88px;
}
.Rectangle-38-copy {
  background-color: rgb(26, 188, 156);
  width: 87px;
  height: 88px;
}
.Rectangle-38-copy-3 {
  background-color: rgb(26, 188, 156);
  width: 88px;
  height: 89px;
}
.Rectangle-38-copy-3_1 {
  background-color: rgb(26, 188, 156);
  width: 88px;
  height: 89px;
}
.Rectangle-38-copy-3_2 {
  background-color: rgb(26, 188, 156);
  width: 87px;
  height: 89px;
}
.Rectangle-37-copy {
  background-color: rgb(34, 37, 51);
  width: 100%;
  height: 73px;
}
.Copyright-2014-TheFox-Theme-by-Tran-Mau-Tri-Tam-----All-Rights- {
  font-size: 14px;
  font-family: 'Lato-Regular';
  color: rgba(187, 161, 177, 1);
}
.------- {
  font-size: 14px;
  font-family: 'ElegantIcons';
  color: rgba(187, 161, 177, 1);
}
